
@mixin fx-col-wp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
@mixin fx-row-wp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

/*Popup Login Form*/

.login_form {
    @include fx-col-wp;
    max-width: 100%;
    background: #fff;
    align-items: center;
    padding: 40px 0;

    form {
        @include fx-col-wp;
        align-items: center;
        width: 100%;
        max-width: 600px;
        align-self: center;
        border-radius: 4px;
        box-shadow: 0px 0px 4px #aaa;
        padding: 40px 0;

        .tabs {
            @include fx-row-wp;
            align-content: center;
            width: 100%;
            margin: 8px 0;

            label {
                padding: 8px 0;
                width: 50%;
                text-align: center;
                color: black;
                font-size: 1.4rem;
                border-top: 4px solid green;
                cursor: pointer;
            }

            .label_not_selected {
                border: none;
            }

            input[type="radio"] {
                display: none;
            }
        }

        .inputs {
            width: 100%;
            @include fx-col-wp;
            align-content: center;
            align-items: center;
            padding: 4px 0;

            input {
                padding: 20px 0;
                text-indent: 4px;
                margin: 4px;
                width: 84%;
                font-size: 1.2rem;
                border-radius: 4px;
                border: 1px solid #ddd;
            }
        }
        
        button {
            background-color: green;
            width: 84%;
            padding: 20px;
            cursor: pointer;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            font-size: 1.2rem;
            color: white;
        }
        .sign_span {
            padding-top: 12px;
        }
        .sign_span a {
            color: blue;
            cursor: pointer;
        }
        .login_disclaimer {
            width: 84%;
            padding-top: 12px;
            font-size: 0.8rem;
            text-align: center;
        }
    }
}
/*End Login Form*/
