/*
*   Variables
*/

$navigation-background: rgb(36, 144, 187);
$hero-background: #fff;

$font-light: #fff;

$header-height: 100px;
$content_width: 1600px;

$font-sm: 1rem;
$font-md: 1.2rem;
$font-lg: 1.4rem;
$font-xl: 1.6rem;
$font-xxl: 1.8rem;

$pad-sm: 4px;
$pad-md: 8px;
$pad-lg: 12px;
$pad-xl: 16px;
$pad-xxl: 20px;

/*
*   End Variables
*/

/*
*   Mixins
*/

@mixin flex-column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
*   End Mixins
*/

.header {
    @include flex-row-wrap;
    width: 100%;
    height: $header-height;
    background-color: $navigation-background;
    position: relative;

    .topcontainer {
        height: $header-height;
        max-width: $content_width;
    }
    .menu {
        position: absolute;
        background-color: $navigation-background;
        width: 0;
        left: 0;
        z-index: 3;
        padding: 40px 0;
        opacity: 0;
        transition: all 0.2s linear;
        text-align: center;
        box-shadow: 0px 1px 1px #222;
    }
    .visible {
        transition: all 0.2s linear;
        width: 100%;
        opacity: 0.9;
        width: 100%;
    }

    /* Style navigation menu links */
    .menu a {
        color: $font_light;
        padding: $pad-lg 0;
        text-decoration: none;
        font-size: $font_lg;
        margin: 2px 0;
        width: 100%;
        display: block;
    }

    /* Style the hamburger menu */
    .icon {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 20px;
        top: 20px;
        color: $font_light;
        font-size: 2.8rem;
        transform: rotate(0deg);
        transition: all 0.4s ease;
        background: none;
        border: none;
        outline: none;
    }
    .rot {
        transform: rotate(135deg);
        transition: all 0.4s ease;
    }
    .brand img {
        height: 60px;
        margin: 20px 0 0 10px;
    }
}

/*END TOP MENU STYLES*/

/*
*Container Styles
*/
.page-container{
    @include flex-column-wrap;
    //Set to 100 view height minus footer height - sticky footer
    min-height: calc(100vh - 62px);
    padding:20px;
}
/*
*End Container Styles
*/
/*Popup Login Form*/

.login_form {
    @include flex-column-wrap;
    max-width: 100%;
    background: #fff;
    align-items: center;
    padding: 40px 0;

    form {
        @include flex-column-wrap;
        align-items: center;
        width: 96%;
        max-width: 600px;
        align-self: center;
        border-radius: 4px;
        box-shadow: 0px 0px 4px #aaa;
        padding: 40px 0;

        .tabs {
            @include flex-row-wrap;
            align-content: center;
            width: 100%;
            margin: $pad-md 0;

            label {
                padding: $pad_md 0;
                width: 50%;
                text-align: center;
                color: black;
                font-size: $font_lg;
                border-top: 4px solid green;
                cursor: pointer;
            }

            .label_not_selected {
                border: none;
            }

            input[type="radio"] {
                display: none;
            }
        }

        .inputs {
            width: 100%;
            @include flex-column-wrap;
            align-content: center;
            align-items: center;
            padding: $pad_sm 0;

            input {
                padding: $pad-xxl 0;
                text-indent: 4px;
                margin: $pad_sm;
                width: 84%;
                font-size: 1.1rem;
                border-radius: 4px;
                border: 1px solid #ddd;
            }
        }
        .login_error {
            color: $font_light;
            width: 98%;
            background: red;
            border-radius: 2px;
            text-align: center;
            font-size: 1.2rem;
        }
        button {
            background-color: green;
            width: 84%;
            padding: $pad_xxl;
            cursor: pointer;
            margin: $pad_md 0;
            border: none;
            border-radius: 4px;
            font-size: 1.1rem;
            color: white;
        }
        .sign_span {
            padding-top: $pad_lg;
        }
        .sign_span a {
            color: blue;
            cursor: pointer;
        }
        .login_disclaimer {
            width: 84%;
            padding-top: $pad_lg;
            font-size: 0.8rem;
            text-align: center;
        }
    }
}
/*End Login Form*/

/*
*Footer Styles
*/
.footer{
    @include flex-row-wrap;
    width: 100%;
    background-color: $navigation-background;
    padding: 20px 0;
    justify-content: center;

    div{
        color: $font-light;
        font-size: $font-md;
    }
}
/*
*End footer styles
*/
