/*
*   Variables
*/

$navigation-background: rgb(36, 144, 187);
$hero-background: #fff;

$font-light: #fff;

$header-height: 100px;
$content_width: 1600px;

$font-sm: 1rem;
$font-md: 1.2rem;
$font-lg: 1.4rem;
$font-xl: 1.6rem;
$font-xxl: 1.8rem;

$pad-sm: 4px;
$pad-md: 8px;
$pad-lg: 12px;
$pad-xl: 16px;
$pad-xxl: 20px;

/*
*   End Variables
*/

/*
*   Mixins
*/

@mixin flex-column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
*   End Mixins
*/